html {
    scroll-behavior: smooth;
    font-weight: 700;
}

/**************************************************************************************/
/*Header e Navegação*/
.paddin-15{
    padding: 15px;
}
.btn-entrar{
    color: #fff;
    font-size: 18px;
}
.btn-black {
    margin: 0 10px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.btn-black:hover {
    color: #001a8d;
}
.bg-primary{
    background-color: rgba(33, 33, 33, 0.9) !important;
}
.internal-nav {
    margin: 0 auto;
}
:root {
    --bs-focus-ring-color: #0d6dfda1;
  }
  .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


/**************************************************************************************/
/*Carousel*/

.carousel-item {
    height: 700px;
}
/**************************************************************************************/
/*Text center*/

.text-center {
    padding: 15px;
    color: #000;
}
.h4 {
    margin-top: 100px;
    color: #000;
}

/**************************************************************************************/
/*Cards*/

.card{
    max-width: 300px;
    justify-content: center;
    /* border: 1px solid rgba(87, 87, 87, 0.582); */
    border: none;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 8px 9px 30px -11px rgba(61, 61, 61, 0.356);

}
.card-img-top {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
    color: #04a0c8;
}
.card-group {
    justify-content: center;
    margin: 10px;
}
.card-group>.card+.card {
    /* border-left: 1px solid rgba(87, 87, 87, 0.534); */
    
    border-radius: 5px;
}
.card-group>.card:not(:last-child) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card-text{.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    /* display: flex
; */
    padding: 200px;
}
    /* border: 1px solid red; */
}

/**************************************************************************************/
/*Sobre*/
.col-md-6 {
    border: 1px solid #000;
    padding: 35px;
}
.container-2 {
    background-color: #ffffff;
    /* box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15); */
    padding: 70px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: underline;
}

.about-text h4 {
    text-decoration: underline;
    
}

.about-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #002d91;
    background-color: #0000000f;
    padding: 7px;
}

.about-text {
    font-size: 1.1rem;
    line-height: 1.6;
}

/**************************************************************************************/
/*Footer*/
.container{
    min-width: 100%;
    height: auto;
    /* background-color: rgba(0, 0, 0, .1); */
    border: solid rgba(0, 0, 0, .15);
    border-width: 0px 0px 1px 0px;
    /* box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15); */
    padding-right: calc(var(--bs-gutter-x)* .0);
    padding-left: calc(var(--bs-gutter-x)* .0);
}

.container-2{
    background-color: #d4d4d442;
    /* box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15); */

}

.py-3 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding: 200px;
}

/**************************************************************************************/
/*Icons*/

.bi-tools {
    color: orange;
}

/**************************************************************************************/
/*sign in screen*/
.singin-container {
    max-width: 400px;
    margin: 250px auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(33, 33, 33, 0.12);
    box-shadow: 0px 0px 20px 0px #000000de;
    border-radius: 10px;
}
.allign-itens {
    text-align: center;
}
.sr-only {
    margin: 10px 0;
}
.my-4 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    background-color: rgba(33, 33, 33, 0.9) ;
}
.text-body-secondary {
    --bs-text-opacity: 1;
    color: #fff !important;
}



/**************************************************************************************/
/*Alerts*/
.alert-danger{
    margin-top: 10px;
}